<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luoye.simpleC">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/icon"
        android:label="@string/app_name" >
        <activity
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action  android:name = "android.intent.action.VIEW" />
                <category  android:name = "android.intent.category.DEFAULT"  />
                <category  android:name = "android.intent.category.BROWSABLE"  />
                <data  android:scheme = "file"  />
                <data  android:host = "*"/>
                <data android:mimeType="text/plain"/>
                <data android:pathPattern=".*" />
            </intent-filter >
        </activity>
        <activity android:name=".activity.FileListActivity"></activity>
        <activity android:name=".activity.SettingActivity" android:label="@string/action_settings"></activity>
        <activity android:name=".activity.HelpActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.luoye.simpleC.activity"
            android:label="@string/help"/>
        <!--Term-->
        <activity android:name="jackpal.androidterm.Term"
            android:launchMode="singleTask"
            android:label="@string/terminal"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="jackpal.androidterm.RemoteInterface"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="jackpal.androidterm.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity-alias android:name="TermInternal"
            android:targetActivity="jackpal.androidterm.Term"
            android:exported="false">
            <intent-filter>
                <action android:name="jackpal.androidterm.private.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="jackpal.androidterm.private.SWITCH_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name="jackpal.androidterm.RunScript"
            android:excludeFromRecents="true"
            android:permission="jackpal.androidterm.permission.RUN_SCRIPT">
            <intent-filter>
                <action android:name="jackpal.androidterm.RUN_SCRIPT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="jackpal.androidterm.TermPreferences">

        </activity>
        <service android:name="jackpal.androidterm.TermService" >
            <intent-filter>
                <action android:name="jackpal.androidterm.action.START_TERM.v1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
